APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

USER_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiJ3ZWJ1c2VyQGdtYWlsLmNvbSIsImF1dGhvcml0aWVzIjpbIlJFQURfTElCUkFSWV9GSUxFX1BFUk1JU1NJT04iLCJSRUFEX0NBVEVHT1JZX1BFUk1JU1NJT04iLCJSRUFEX1BBR0VfUEVSTUlTU0lPTiIsIlJFQURfVFJBSU5JTkdfQ0FURUdPUllfUEVSTUlTU0lPTiIsIlJFQURfUE9TVF9QRVJNSVNTSU9OIiwiUkVBRF9GSUxFX1BFUk1JU1NJT04iLCJSRUFEX1JFR0lTVEVSX1BFUk1JU1NJT04iLCJXRUJfVVNFUl9ST0xFIiwiUkVBRF9VU0VSX1BFUk1JU1NJT04iLCJSRUFEX01FTlVfUEVSTUlTU0lPTiIsIlJFQURfUk9MRV9QRVJNSVNTSU9OIiwiUkVBRF9QRVJNSVNTSU9OX1BFUk1JU1NJT04iLCJSRUFEX1BVQkxJQ0laRV9QRVJNSVNTSU9OIiwiUkVBRF9MSUJSQVJZX0NBVEVHT1JZX1BFUk1JU1NJT04iLCJSRUFEX1RSQUlOSU5HX1BPU1RfUEVSTUlTU0lPTiIsIlJFQURfVFJBSU5JTkdfRklMRV9QRVJNSVNTSU9OIiwiUkVBRF9TVUJfTUVOVV9QRVJNSVNTSU9OIl0sImp0aSI6IjA5MjFmODMwLTIzZDMtNGM0Zi05MjIwLTg2MGFmZTNhMWNlMyIsImNsaWVudF9pZCI6ImF6VXRibUZ6YkdFdFpuSnZiblF0WTJ4cFpXNTBVMlZqY21WMCIsInNjb3BlIjpbInJlYWQiXX0.-Kc7u-9dgm3doWg7AUfbA38TquPtZjZaSFIwH4lT6N0"